{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static 'movies/scripts.js' %}"></script>

  <title>{% trans 'Movie List' %}</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <h1>{% trans 'Movies' %}</h1>
    </div>

    <div class="row">
      <table class="table" id="movie_list">
        <thead>
          <tr>
            <th>Name</th>
            <th> </th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
        {% for movie in object_list %}
          <tr id="{{ movie.pk }}">
            <th style="background-color:lavenderblush;">
                {{ movie.title }}
            </th>
            <th>
              <button onclick="play_movie(this.parentElement.parentElement.id)">
                Play
              </button>
            </th>
            <th style="background-color:lavender;">
                {{ movie.duration }}
            </th>
          </tr>
          <tr id="sub_row{{ movie.pk }}" style="display: none;">
            <th>
             <button onclick="send_command('stop', 0)">
               stop
             </button>
             <button onclick="send_command('fast-backward', 0)">
               fast-backward
             </button>
             <button onclick="send_command('backward', 0)">
               backward
             </button>
             <button onclick="send_command('pause', 0)">
               pause
             </button>
             <button onclick="send_command('forward', 0)">
               forward
             </button>
             <button onclick="send_command('fast-forward', 0)">
               fast-forward
             </button>
             <button onclick="send_command('volume-down', 0)">
               volume-down
             </button>
             <button onclick="send_command('volume-up', 0)">
               volume-up
             </button>
            </th>
         </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
