{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static 'movies/scripts.js' %}"></script>
  <link href="{% static 'movies/movie-list.css' %}" type="text/css" rel="stylesheet"/>

  <title>{% trans 'Windu player - movies' %}</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <h1>{% trans 'Movies' %}</h1>
    </div>

    <div class="row">
      <table class="table" id="movie_list">
        <thead>
          <tr>
            <td>Name</td>
            <td style="text-align:center;">Duration</td>
          </tr>
        </thead>
        <tbody>
        {% for movie in object_list %}
          <tr id="row{{ movie.pk }}" class="active" onclick="show_sub_div(this, {{ movie.pk }})">
            <td>
                {{ movie.title }}
            </td>
            <td style="text-align:center;">
                {{ movie.duration }}
            </td>
          </tr>
          <tr id="sub_row{{ movie.pk }}" style="display: none;">
            <td style="padding: 1px;">
              <div class=command_row>
                <button onclick="send_command('fast-backward', 0)">
                 <img src="{% static 'movies/fast_backward_button.png' %}" style="width:24px;height:24px;">
                </button>
                <button onclick="send_command('backward', 0)">
                 <img src="{% static 'movies/backward_button.png' %}" style="width:24px;height:24px;">
                </button>
                <button onclick="send_command('stop', 0)">
                  <img src="{% static 'movies/stop_button.png' %}" style="width:24px;height:24px;">
                </button>
                <button onclick="play_pause(this, {{ movie.pk }})">
                  <img src="{% static 'movies/play_button.png' %}" style="width:24px;height:24px;">
                  <img src="{% static 'movies/pause_button.png' %}" style="width:24px;height:24px; display: none;">
                </button>
                <button onclick="send_command('forward', 0)">
                 <img src="{% static 'movies/forward_button.png' %}" style="width:24px;height:24px;">
                </button>
                <button onclick="send_command('fast-forward', 0)">
                 <img src="{% static 'movies/fast_forward_button.png' %}" style="width:24px;height:24px;">
                </button>
                <button onclick="send_command('volume-down', 0)">
                 <img src="{% static 'movies/volume_down_button.png' %}" style="width:24px;height:24px;">
                </button>
                <button onclick="send_command('volume-up', 0)">
                 <img src="{% static 'movies/volume_up_button.png' %}" style="width:24px;height:24px;">
                </button>
              </div>
            </td>
         </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
