{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static 'movies/scripts.js' %}"></script>

  <title>{% trans 'Movie List' %}</title>
</head>

<body>
  <section id="todoapp">
    <header class="col-xs-offset-1">
      <h1>{% trans 'Movies' %}</h1>
    </header>

    <div class="list">
        {% for movie in object_list %}
          <div class="row" id="{{ movie.pk }}">
            <div class="col-xs-8 col-xs-offset-1" style="background-color:lavenderblush;">
                {{ movie.title }}
            </div>
            <button class="col-xs-1" onclick="play_movie(this.parentElement)">
              Play
            </button>
            <div class="col-xs-1" style="background-color:lavender;">
                {{ movie.duration }}
            </div>
            <label></label>
          </div>
        {% endfor %}
    </div>
  </section>
</body>
</html>
